body{
  margin:0px;
  background-color: rgb(84, 202, 143,0.3);
}
.container{
  display: flex;
}
  h1{
    margin: 10px;
    margin-left: 500px;

  }
.image1{
  width: 300px;
  border: 10px solid green;
  padding: 30px;
  margin: 20px;
  background-color: white;
}
.textt{
  width: 300px;
  border: 10px solid green;
  padding: 30px;
  margin: 30px;
  color: rgb(50,100,800);

}
.award{
  text-align: left;
}
.asset_button{
  margin:10px;
  padding: 20px;
  color: green;
  font-size: 16px;
  border-radius: 45%;
  text-decoration:solid;
}